.courier-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left button,
.navbar-right button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.navbar-left span {
  margin-left: 20px;
  font-size: 16px;
  color: #666;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

.orders-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три карточки в строке */
  gap: 20px; /* Расстояние между карточками */
  padding: 0;
}

.order-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.accept-button {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reject-button {
  background-color: #d32f2f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.current-order {
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}

.textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
