.courier-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

.orders-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три карточки в строке */
  gap: 20px; /* Расстояние между карточками */
  padding: 0;
}

.orders-list .order-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Разделяем содержимое на верх и низ */
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  padding-top: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  height: 100%; /* Все карточки будут одинаковой высоты */
}

.orders-list .order-card > h3 {
  text-align: center;
  margin-top: 0px;
}

.order-items {
  margin-bottom: 15px;
}

.divider-line {
  border: none; /* Убирает стандартный стиль hr */
  border-top: 1px solid #ccc; /* Тонкая линия */
  margin: 10px 0; /* Отступы сверху и снизу */
  width: 100%; /* Линия занимает всю ширину */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-card-content {
  flex-grow: 1; /* Расширяем основное содержимое */
}

.order-card-content .order-items{
  text-align: center;
}

.order-card-footer {
  margin-top: auto; /* Прижимаем footer к низу */
}

.order-details-row {
  display: flex;
  justify-content: space-between; /* Равномерное расстояние между элементами */
  align-items: center; /* Выравнивание по вертикали */
  margin-top: 10px; /* Отступ сверху */
}

.order-details-row p {
  margin: 0; /* Убираем лишние отступы */
  flex: 1; /* Все элементы занимают равное пространство */
  text-align: center; /* Текст по центру */
}


.complete-button {
  background-color: #66bb6a; /* Слегка зелёный цвет */
  color: #fff;
  border: none;
  border-radius: 20px; /* Закруглённые края */
  padding: 10px 50px; /* Увеличиваем ширину кнопки */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.complete-button:hover {
  background-color: #43a047; /* Более тёмный зелёный при наведении */
}

.reject-button {
  background-color: #d32f2f;
  color: #fff;
  border: none;
  padding: 10px 80px; /* Увеличиваем ширину кнопки */
  border-radius: 10px;
  cursor: pointer;
  display: block; /* Чтобы кнопка заняла всю доступную ширину контейнера */
  margin: 20px auto 0px; /* Центрирование по горизонтали */
}

.cancel-button {
  background-color: #ef5350; /* Слегка красный цвет */
  color: #fff;
  border: none;
  padding: 10px 50px; /* Увеличиваем ширину кнопки */
  border-radius: 20px; /* Закруглённые края */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Прижимаем кнопку к правому краю */
}

.cancel-button:hover {
  background-color: #d32f2f; /* Более тёмный красный при наведении */
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.end-delivery-button {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.start-shift-button {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.center-div {
  text-align: center;
}

.order-card-footer .order-comment {
  font-style: italic;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}
