.dish-card-popup {
    position: fixed;
    display: flex;
    flex-direction: column; /* Вертикальное расположение содержимого */
    justify-content: space-between; /* Распределение пространства между элементами */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    border-radius: 10px;
    width: 95%;
    max-width: 600px;
    max-height: 90vh;
    min-height: 70vh;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    color: #333;
  }  

  .close-button {
    background-color: rgba(255, 0, 0, 0.249);
    border: 1px solid #ccc; /* Граница */
  border-radius: 5px; /* Слегка закругленные края */
  font-size: 16px; /* Размер текста */
  cursor: pointer; /* Курсор указателя */
  }

  .close-button:hover {
    background-color: rgba(165, 0, 0, 0.444);
  }
  
  .dish-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .dish-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .dish-category {
    background: #d9b3ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px; /* Размер текста */
  }
  
  .dish-content {
    margin-top: 10px;
    flex-grow: 1; /* Заставляет контент занимать всё оставшееся пространство */
  }
  
  .dish-image-description {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    background-color: #b0e1d163;
  }
  
  .dish-image {
    width: 300px; /* Уменьшаем ширину изображения */
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .dish-description {
    flex: 1;
  }
  
  .dish-description h3 {
    font-size: 20px;
    
  }
  
  .dish-description p {
    font-size: 16px;
  }
  
  .dish-details p {
    margin: 5px 0;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .dish-card-popup .dish-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Сдвигает футер вниз */
  }
  
  .dish-quantity-control {
    display: flex;
    align-items: center;
  }

  .dish-quantity-control button {
    width: 40px; /* Ширина кнопки */
  height: 40px; /* Высота кнопки */
  border: 1px solid #ccc; /* Граница */
  border-radius: 5px; /* Слегка закругленные края */
  font-size: 16px; /* Размер текста */
  display: flex;
  justify-content: center; /* Выравнивание текста по центру */
  align-items: center; /* Вертикальное выравнивание текста */
  cursor: pointer; /* Курсор указателя */
  padding: 0; /* Убираем внутренние отступы */
  }
  

  
  .quantity {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .dish-price {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .add-to-cart {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  