.manager-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.orders-section,
.couriers-section {
  width: 48%;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-card,
.courier-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
}

.status.pending {
  background: #ff9800;
}

.status.assigned {
  background: #4caf50;
}

.status.free {
  background: #4caf50;
}

.status.busy {
  background: #9e9e9e;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #757575;
  margin-top: 10px;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button.accept {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.assign{
  background-color: #284dd1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.reject {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
