/* AdminPage.css */

/* Общие стили для страницы */
.admin-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}
.admin-page .admin-content {
  padding: 20px;
  padding-top: 10px;
}

.admin-page .admin-content > div > h2 {
  margin-top: 0px;
}

/* Стили для карточек */
.admin-page .admin-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 карточки в строке */
  gap: 20px; /* Расстояние между карточками */
  padding: 0;
  margin: 20px 0;
}

.admin-page .admin-item {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* Устанавливаем относительное позиционирование */
}

.admin-item-info {
  flex: 1;
  padding-right: 20px; /* Space between info and image */
}

.admin-item-image {
  max-width: 150px; /* Set a fixed width for the image */
  border-radius: 8px; /* Optional: Adds rounded corners */
  position: absolute; /* Фиксируем картинку */
  top: 50px;
  right: 20px;
}

.admin-page .admin-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.admin-page .admin-item div {
  flex: 1;
}

.admin-page .admin-item .action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.admin-page .admin-item .action-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888;
  transition: color 0.3s ease, transform 0.2s ease;
}

.admin-page .admin-item .action-buttons button:hover {
  color: #2c3e50;
  transform: scale(1.1);
}

.admin-page .admin-item p {
  margin: 5px 0;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

.admin-page .admin-item strong {
  font-size: 18px;
  color: #2c3e50;
}

.admin-page .admin-item button:hover {
  color: #2c3e50;
  transform: scale(1.1);
}

/* Стили для кнопки загрузки изображения */
.admin-page .admin-item .upload-container {
  display: flex;
  align-items: end;
  margin-top: 15px;
  justify-content: space-between;
  text-align: center;
}

.admin-page .admin-item .upload-container input[type="file"] {
  display: none; /* Скрываем стандартное поле */
}

.choise-image-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  text-align: center;
  border: none;
}

.choise-image-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.upload-image-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.upload-image-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.admin-page .admin-item .upload-container .file-name {
  font-size: 14px;
  color: #555;
  font-style: italic;
  margin-inline: 10px;
}

/* Форма добавления/редактирования */
.admin-page .admin-form {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 25px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.admin-page .admin-form h3 {
  margin-top: 0;
  font-size: 24px;
  color: #2c3e50;
  text-align: center;
}

.admin-form .form-group {
  margin-bottom: 5px;
  width: 85%;
}

.admin-form-label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: #000;
}

.admin-form-p-description {
  max-width: 285px;
}

.admin-form-input,
.admin-form-select,
.admin-form-textarea {
  width: 100%; /* Устанавливаем одинаковую ширину */
  max-width: 1200px; /* Опционально, чтобы ограничить максимальную ширину */
  padding: 10px; /* Устанавливаем одинаковый отступ внутри полей */
  box-sizing: border-box; /* Гарантируем, что padding и border включены в ширину */
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: none; /* Отключение изменения размера textarea */
  color: #000;
}

.admin-form input:focus,
.admin-form select:focus,
.admin-form textarea:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.admin-form textarea {
  font-family: Arial, sans-serif; /* Совместимый шрифт для всех полей */
}

.admin-form input[type="file"] {
  padding: 0;
  width: auto; /* Исключение для файлового ввода */
}

.admin-form .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-form button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-save-button {
  background-color: #00ff088c;
  color: white;
  margin-right: 30px;
}

.admin-cancel-button {
  background-color: #ff030398;
}

.admin-save-button:hover {
  background-color: #00ff0db5;
  transform: translateY(-2px);
}

.admin-cancel-button:hover {
  background-color: #ff0303d1;
  transform: translateY(-2px);
}

.admin-form .checkbox-group {
  display: flex;
  flex-wrap: wrap; /* Позволяет перенести элементы на новую строку, если они не помещаются */
  align-items: center; /* Центрируем все элементы по вертикали */
}

.admin-form .checkbox-group label {
  display: flex;
  align-items: center; /* Вертикальное выравнивание элементов внутри label */
  font-size: 16px; /* Размер шрифта */
  margin-right: 15px; /* Отступ между элементами */
}

.admin-form .checkbox-group input[type="checkbox"] {
  margin-right: 5px; /* Отступ между чекбоксом и текстом */
}

.admin-form .checkbox-group h4 {
  font-size: 18px; /* Размер шрифта для заголовка */
  font-weight: bold;
  align-self: center; /* Центрируем заголовок по вертикали */
  margin-right: 15px;
}

/* Кнопки в заголовке */
.admin-page button:hover {
  cursor: pointer;
}

/* Кнопка добавления элемента */
.admin-add-item-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 20px;
}

.admin-add-item-button:hover {
  background-color: #45a049;
}

.admin-page .directory-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-directory {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.kitchen-directory,
.dish-types-directory {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.admin-page h3 {
  text-align: center;
  margin-bottom: 15px;
}

.admin-page .directory-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.admin-page .directory-item p {
  margin: 5px 0;
}

.custom-select-container {
  position: relative;
}

.custom-select-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  padding-left: 10px;
}

/* Стили для placeholder */
.form-group .placeholder {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  pointer-events: none; /* Позволяет работать с select поверх подсказки */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-text {
  color: red;
  font-size: 0.9em;
}
